<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.PictureDao" >
  <resultMap id="BaseResultMap" type="com.entity.Picture" >
    <id column="ph_id" property="phId" jdbcType="BIGINT" />
    <result column="ph_proid" property="phProid" jdbcType="BIGINT" />
    <result column="ph_kind" property="phKind" jdbcType="INTEGER" />
    <result column="ph_adress" property="phAdress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ph_id, ph_proid, ph_kind, ph_adress
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pt_picture
    where ph_id = #{phId,jdbcType=BIGINT}
  </select>
  <!--根据商品id和图片类型分类-->
  <select id="selectByPKid" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from pt_picture
    where ph_proid = #{Proid} and ph_kind= #{ProKid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pt_picture
    where ph_id = #{phId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.entity.Picture" >
    insert into pt_picture (ph_id, ph_proid, ph_kind, 
      ph_adress)
    values (#{phId,jdbcType=BIGINT}, #{phProid,jdbcType=BIGINT}, #{phKind,jdbcType=INTEGER}, 
      #{phAdress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Picture" >
    insert into pt_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="phId != null" >
        ph_id,
      </if>
      <if test="phProid != null" >
        ph_proid,
      </if>
      <if test="phKind != null" >
        ph_kind,
      </if>
      <if test="phAdress != null" >
        ph_adress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="phId != null" >
        #{phId,jdbcType=BIGINT},
      </if>
      <if test="phProid != null" >
        #{phProid,jdbcType=BIGINT},
      </if>
      <if test="phKind != null" >
        #{phKind,jdbcType=INTEGER},
      </if>
      <if test="phAdress != null" >
        #{phAdress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Picture" >
    update pt_picture
    <set >
      <if test="phProid != null" >
        ph_proid = #{phProid,jdbcType=BIGINT},
      </if>
      <if test="phKind != null" >
        ph_kind = #{phKind,jdbcType=INTEGER},
      </if>
      <if test="phAdress != null" >
        ph_adress = #{phAdress,jdbcType=VARCHAR},
      </if>
    </set>
    where ph_id = #{phId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Picture" >
    update pt_picture
    set ph_proid = #{phProid,jdbcType=BIGINT},
      ph_kind = #{phKind,jdbcType=INTEGER},
      ph_adress = #{phAdress,jdbcType=VARCHAR}
    where ph_id = #{phId,jdbcType=BIGINT}
  </update>
</mapper>